<h1>Join our family!</h1>

	<form method="POST" action="/signup">
	<p>
		<label for="fname">First Name</label>
		<input type="text" name="[user]fname">
	</p>
	<p>
		<label for="lname">Last Name</label>
		<input type="text" name="[user]lname">
	</p>
	<p>
		<input type="submit" name="YAY!">
	</p>
</form>